<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Create Snippet</title>
</head>
<body>
<main class="p-8 max-w-3xl">
    <hgroup>
        <h1 class="text-2xl font-semibold tracking-tight">Create Snippet</h1>
        <p class="text-gray-500">Create a new snippet and something else</p>
    </hgroup>

    <div th:if="${error}" class="mt-8 relative w-full overflow-hidden rounded-none border border-red-500 bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark" role="alert">
        <div class="flex w-full items-center gap-2 bg-danger/10 p-4">
            <div class="bg-red-500/15 text-red-500 rounded-full p-1" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-2">
                <h3 class="text-sm font-semibold text-danger">Error</h3>
                <p class="text-xs font-medium sm:text-sm" th:text="${error}"></p>
            </div>
        </div>
    </div>


    <form class="mt-6 space-y-3"
          x-data="{
            submitHandler(event) {
                console.log(event);
                document.getElementById('content').value = CodeEditor.editorView.state.doc.toString();
                event.target.submit();
            }
          }"
          x-on:submit.prevent="submitHandler($event)"
          th:action="@{/admin/snippets/create}"
          th:object="${snippet}" method="post">

        <div class="flex gap-4">
            <div class="flex flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                <label for="title" class="w-fit pl-0.5 text-sm">Title</label>
                <input class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                       th:field="*{title}"
                       required
                       autofocus
                       id="title"
                       type="text"
                       name="title"
                       placeholder="Enter your title"/>
            </div>
            <div class="flex flex-col gap-1 text-on-surface dark:text-on-surface-dark">
                <label for="language" class="w-fit pl-0.5 text-sm">Language</label>
                <select id="language"
                        th:field="*{language}"
                        name="enabled"
                        required
                        class="w-full rounded-radius border border-outline bg-surface-alt px-4 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark">
                    <option value="" selected disabled class="p-1">Choose Language</option>
                    <option value="java" class="p-1">Java</option>
                    <option value="python" class="p-1">Python</option>
                    <option value="typescript" class="p-1">Typescript</option>
                </select>
            </div>
        </div>


        <div class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark">
            <label for="description" class="w-fit pl-0.5 text-sm">Description</label>
            <input class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                   th:field="*{description}"
                   required
                   autofocus
                   id="description"
                   type="text"
                   name="description"
                   placeholder="Enter your description"/>
        </div>

        <input type="text" id="content" name="content" hidden th:field="*{content}">
        <div id="code-editor"></div>

        <div class="flex justify-end gap-3">
            <a class="whitespace-nowrap rounded-radius bg-surface-alt border border-surface-alt px-4 py-2 text-sm font-medium tracking-wide text-on-surface-strong transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-surface-alt active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-surface-dark-alt dark:border-surface-dark-alt dark:text-on-surface-dark-strong dark:focus-visible:outline-surface-dark-alt"
               th:href="@{/admin/snippets}">
                Cancel
            </a>
            <button class="whitespace-nowrap rounded-radius bg-primary border border-primary px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark" type="submit">
                Create Snippet
            </button>
        </div>
    </form>

    <script th:src="@{/editor.bundle.js}"></script>
</main>
</body>
</html>
