<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Snippet</title>
</head>
<body>
<main>
    <h1>Snippet Details</h1>
    <div class="grid grid-cols-[auto_1fr] shadow p-4 mt-6 gap-4">
        <h3 class="col-span-2">Personal Info</h3>

        <span>Id</span>
        <span th:text="${snippet.id()}"></span>

        <span>Title</span>
        <span th:text="${snippet.title()}"></span>

        <span>Description</span>
        <span th:text="${snippet.description()}"></span>

        <span>Language</span>
        <span th:text="${snippet.language()}"></span>

    </div>

    <div class="shadow p-4 mt-6">
        <pre><code th:text="${snippet.content()}">
        </code></pre>
    </div>
</main>
</body>
</html>
