<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Snippets</title>
</head>
<body>
<main class="max-w-7xl mx-auto px-8">
    <!-- heading -->
    <div class="flex justify-between items-center mt-4">
        <hgroup>
            <h1 class="text-2xl font-semibold tracking-tight">Snippets</h1>
            <p class="text-gray-500">List all Snippets</p>
        </hgroup>
        <a th:href="@{/admin/snippets/create}"
           class="inline-flex justify-center items-center gap-2 whitespace-nowrap rounded-radius bg-primary border border-primary dark:border-primary-dark px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 class="size-5 fill-on-primary dark:fill-on-primary-dark" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                      clip-rule="evenodd"/>
            </svg>
            Create
        </a>
    </div>

    <!-- filters -->
    <form class="flex items-end gap-3 mt-8" th:action="@{/admin/snippets}">
        <div class="flex w-full max-w-xs flex-col gap-1 text-on-surface dark:text-on-surface-dark">
            <label for="title" class="w-fit pl-0.5 text-sm">Search</label>
            <input id="title"
                   th:value="${filter?.title ?: ''}"
                   type="text"
                   class="w-full rounded-radius border border-outline bg-surface-alt px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt/50 dark:focus-visible:outline-primary-dark"
                   name="title"
                   placeholder="Search snippets..."/>
        </div>
        <span class="flex-1"></span>
        <a class="whitespace-nowrap rounded-radius bg-surface-alt border border-surface-alt px-4 py-2 text-sm font-medium tracking-wide text-on-surface-strong transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-surface-alt active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-surface-dark-alt dark:border-surface-dark-alt dark:text-on-surface-dark-strong dark:focus-visible:outline-surface-dark-alt" th:href="@{/admin/snippets}">Reset</a>
        <button type="submit" class="whitespace-nowrap rounded-radius bg-secondary border border-secondary px-4 py-2 text-sm font-medium tracking-wide text-on-secondary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-secondary-dark dark:border-secondary-dark dark:text-on-secondary-dark dark:focus-visible:outline-secondary-dark">Search</button>
    </form>


    <!-- list -->
    <div class="overflow-hidden w-full overflow-x-auto rounded-radius border border-outline dark:border-outline-dark mt-8">
        <table class="w-full text-left text-sm text-on-surface dark:text-on-surface-dark">
            <thead class="border-b border-outline bg-surface-alt text-sm text-on-surface-strong dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark-strong">
            <tr>
                <th scope="col" class="p-4">Snippet</th>
                <th scope="col" class="p-4">ID</th>
                <th scope="col" class="p-4">Language</th>
                <th scope="col" class="p-4">Created At</th>
                <th scope="col" class="p-4">Updated At</th>
                <th scope="col" class="p-4">Action</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-outline dark:divide-outline-dark">
            <tr th:each="snippet : ${snippets}">
                <td class="p-4 flex flex-col">
                    <span th:text="${snippet.title()}" class="text-black dark:text-white"></span>
                    <span th:text="${snippet?.description()}" class="text-sm text-black opacity-85 dark:text-neutral-200"></span>
                </td>
                <td th:text="${snippet.id()}" class="p-4"></td>
                <td th:text="${snippet.language()}" class="p-4">Sep 17, 2018</td>
                <td th:text="${snippet.createdDate()}" class="p-4"></td>
                <td th:text="${snippet.lastModifiedDate()}" class="p-4"></td>
                <td class="p-4 flex gap-2">
                    <a th:href="@{/admin/snippets/edit/{id}(id=${snippet.id()})}"
                        class="whitespace-nowrap rounded-radius bg-transparent p-0.5 font-semibold text-primary outline-primary hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 dark:text-primary-dark dark:outline-primary-dark">
                        Edit
                    </a>
                    <form
                          th:action="@{/admin/snippets/delete/{id}(id=${snippet.id()})}"
                          method="post"
                          x-on:submit.prevent="$dispatch('deletedialog', {
                                event: $event,
                                title: 'Delete Snippet',
                                message: 'Are you sure you want to delete the snippet ?'
                            })">
                        <button class="whitespace-nowrap rounded-radius bg-transparent p-0.5 font-semibold text-danger outline-danger hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 dark:text-danger-dark dark:outline-danger-dark"
                                 type="submit">Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="flex justify-end mt-6">
        <nav aria-label="pagination">
            <ul class="flex shrink-0 items-center gap-2 text-sm font-medium">
                <li>
                    <a th:href="@{/admin/snippets(page=${snippets.previousOrFirstPageable().pageNumber})}" class="flex items-center rounded-radius p-1 text-on-surface hover:text-primary dark:text-on-surface-dark dark:hover:text-primary-dark" aria-label="previous page">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
                            <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                        Previous
                    </a>
                </li>
                <li class="px-3 text-sm font-medium text-gray-700"
                    th:text="${snippets.getNumber() + 1} + ' / ' + ${snippets.getTotalPages()}">2/12
                </li>
                <li>
                    <a th:href="@{/admin/snippets(eage=${snippets.nextOrLastPageable().pageNumber})}" class="flex items-center rounded-radius p-1 text-on-surface hover:text-primary dark:text-on-surface-dark dark:hover:text-primary-dark" aria-label="next page">
                        Next
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
                            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</main>
</body>
</html>