<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Snippet</title>
</head>
<body>
<main>
    <h1>User Details</h1>
    <div class="grid grid-cols-[auto_1fr] shadow p-4 mt-6 gap-4">
        <h3 class="col-span-2">Personal Info</h3>

        <span>Id</span>
        <span th:text="${user.getId()}"></span>

        <span>Username</span>
        <span th:text="${user.getUsername()}"></span>

        <span>Email</span>
        <span th:text="${user.getEmail()}"></span>

        <span>Enabled</span>
        <span th:text="${user.getEnabled()}"></span>

    </div>

    <div class="shadow p-4 mt-6">
        <h3>Roles</h3>
        <ul>
            <li th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></li>
        </ul>
    </div>
</main>
</body>
</html>
