<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Users</title>
</head>

<body>
<main class="max-w-7xl mx-auto px-8">
    <div class="flex justify-between items-center mt-4">
        <hgroup>
            <h1 class="text-2xl font-semibold tracking-tight">Users</h1>
            <p class="text-gray-500">Manage Users</p>
        </hgroup>

        <a th:href="@{/admin/users/create}"
           class="inline-flex justify-center items-center gap-2 whitespace-nowrap rounded-radius bg-primary border border-primary dark:border-primary-dark px-4 py-2 text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 class="size-5 fill-on-primary dark:fill-on-primary-dark" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                      clip-rule="evenodd"/>
            </svg>
            Create
        </a>
    </div>
    <form class="flex gap-3 mt-8" th:action="@{/admin/users}">
        <input class="flex-1 px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-zinc-300 focus:border-transparent text-sm"
               th:value="${filter.search().orElse('')}"
               name="search"
               type="text"
               placeholder="Search users..."
               autofocus>
        <select class="px-4 py-2 border border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-300 text-sm"
                name="enabled">
            <option value="">All Status</option>
            <option value="true" th:selected="${filter.enabled().orElse(false)}">Enabled</option>
            <option value="false" th:selected="${filter.enabled().orElse(false)}">Disabled</option>
        </select>
        <select class="px-4 py-2 border border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-zinc-300 text-sm"
                name="roleId">
            <option value="">All Roles</option>
            <option th:each="role: ${roles}" th:value="${role.getId()}"
                    th:selected="${role.getId().equals(filter.roleId().orElse(null))}"
                    th:text="${role.getName()}"></option>
        </select>
        <span class="flex-1"></span>
        <button type="submit"
                class="cursor-pointer px-5 py-2 bg-gray-900 text-white hover:bg-gray-800 transition-colors text-sm font-medium">
            Search
        </button>
        <a class="px-5 py-2 bg-gray-100 text-gray-700 hover:bg-gray-200 transition-colors text-sm font-medium decoration-none inline-flex items-center"
           th:href="@{/admin/users}">Reset</a>
    </form>


    <div x-data="{ dangerModalIsOpen: false }" class="overflow-hidden w-full overflow-x-auto rounded-radius border border-outline dark:border-outline-dark mt-8">
        <table class="w-full text-left text-sm text-on-surface dark:text-on-surface-dark">
            <thead class="border-b border-outline bg-surface-alt text-sm text-on-surface-strong dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark-strong">
            <tr>
                <th scope="col" class="p-4">User</th>
                <th scope="col" class="p-4">ID</th>
                <th scope="col" class="p-4">Member Since</th>
                <th scope="col" class="p-4">Status</th>
                <th scope="col" class="p-4">Action</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-outline dark:divide-outline-dark">
            <tr th:each="user : ${users}">
                <td class="p-4">
                    <div class="flex w-max items-center gap-2">
                        <img class="size-10 rounded-full object-cover"
                             src="https://penguinui.s3.amazonaws.com/component-assets/avatar-7.webp" alt="user avatar"/>
                        <div class="flex flex-col">
                            <span th:text="${user.username()}" class="text-black dark:text-white"></span>
                            <span th:text="${user.email()}" class="text-sm text-black opacity-85 dark:text-neutral-200"></span>
                        </div>
                    </div>
                </td>
                <td th:text="${user.id()}" class="p-4"></td>
                <td class="p-4">Sep 17, 2018</td>
                <td th:if="${user.enabled()}" class="p-4"><span class="inline-flex overflow-hidden rounded-radius border-success px-1 py-0.5 text-xs font-medium text-success bg-success/10">Enabled</span></td>
                <td th:if="${!user.enabled()}" class="p-4"><span class="inline-flex overflow-hidden rounded-radius border-danger px-1 py-0.5 text-xs font-medium text-danger bg-danger/10">Disabled</span></td>
                <td class="p-4 flex gap-2">
                    <form th:action="@{/admin/users/edit/{id}(id=${user.id()})}" method="get">
                        <button class="whitespace-nowrap rounded-radius bg-transparent p-0.5 font-semibold text-primary outline-primary hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 dark:text-primary-dark dark:outline-primary-dark"
                                type="submit">Edit
                        </button>
                    </form>
                    <form
                          th:action="@{/admin/users/delete/{id}(id=${user.id()})}"
                          method="post"
                          x-on:submit.prevent="$dispatch('deletedialog', {
                                event: $event,
                                title: 'Delete User',
                                message: 'Are you sure you want to delete the user ?'
                            })">
                        <button class="whitespace-nowrap rounded-radius bg-transparent p-0.5 font-semibold text-danger outline-danger hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 dark:text-danger-dark dark:outline-danger-dark"
                                 type="submit">Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="flex justify-end mt-6">
        <ul class="list-none p-0 flex items-center gap-2 text-gray-900">
            <li>
                <a th:href="@{/admin/users(page=${users.previousOrFirstPageable().pageNumber})}"
                   class="flex items-center justify-center w-9 h-9 border border-gray-300 transition-colors hover:bg-gray-50 rtl:rotate-180"
                   aria-label="Previous page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>

            <li class="px-3 text-sm font-medium text-gray-700"
                th:text="${users.getNumber() + 1} + ' / ' + ${users.getTotalPages()}">2/12
            </li>

            <li>
                <a th:href="@{/admin/users(page=${users.nextOrLastPageable().pageNumber})}"
                   class="flex items-center justify-center w-9 h-9 border border-gray-300 transition-colors hover:bg-gray-50 rtl:rotate-180"
                   aria-label="Next page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>


</main>
</body>
</html>