<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Users</title>
</head>
<body>
<main>
    <h1>Users</h1>
    <div class="flex justify-between rounded py-4">
        <form class="flex-1" action="#" th:action="@{/admin/users}">
            <input class="w-full p-2" th:value="${search}" name="search" type="text" placeholder="Search">
        </form>
        <p class="flex-1"></p>
        <a class="bg-zinc-800 text-white p-2 px-4 decoration-none" href="/admin/users/create">Create</a>
    </div>

    <table class="border-collapse border border-solid border-zinc-300 w-full">
        <thead>
        <tr class="text-left bg-zinc-800 text-white">
            <th class="border border-solid border-zinc-300 p-2">Id</th>
            <th class="border border-solid border-zinc-300 p-2">Username</th>
            <th class="border border-solid border-zinc-300 p-2">Email</th>
            <th class="border border-solid border-zinc-300 p-2">Enabled</th>
            <th class="border border-solid border-zinc-300 p-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover:bg-zinc-100" th:each="user: ${users}">
            <td class="border border-solid border-zinc-300 p-2">
                <a th:href="@{/admin/users/{id}(id=${user.id})}" th:text="${user.id}"></a>
            </td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.username}"></td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.email}"></td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.enabled}"></td>
            <td class="border border-solid border-zinc-300 p-2 flex gap-2">
                <form action="#" th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">
                    <button class="bg-red-200 border-none cursor-pointer p-1" type="submit">Delete</button>
                </form>
                <form action="#" th:action="@{/admin/users/edit/{id}(id=${user.id})}" method="get">
                    <button class="bg-blue-200 border-none cursor-pointer p-1" type="submit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>