<!doctype html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Users</title>
</head>
<body>
<main>
    <h1>Users</h1>
    <div class="flex justify-between rounded py-4">
        <form class="flex gap-2" action="#" th:action="@{/admin/users}">
            <input class="w-full p-2" th:value="${filter.search().orElse('')}" name="search" type="text" placeholder="Search" autofocus>
            <select class="border-1 border-solid border-zinc-600 bg-transparent" name="enabled">
                <option value="">All</option>
                <option value="true" th:selected="${filter.enabled().orElse(false)}">Enabled</option>
                <option value="false" th:selected="${filter.enabled().orElse(false)}">Disabled</option>
            </select>
            <select class="border-1 border-solid border-zinc-600 bg-transparent" name="roleId">
                <option value="">All</option>
                <option th:each="role: ${roles}" th:value="${role.getId()}" th:selected="${role.getId().equals(filter.roleId().orElse(null))}" th:text="${role.getName()}"></option>
            </select>
            <button type="submit" class="bg-zinc-800 text-white cursor-pointer p-2 px-4 border-none">Search</button>
            <a class="bg-zinc-100 text-zinc-800 cursor-pointer p-2 px-4 border-none" th:href="@{/admin/users}">Reset</a>
        </form>
        <p class="flex-1"></p>
        <a class="bg-zinc-800 text-white p-2 px-4 decoration-none" href="/admin/users/create">Create</a>
    </div>

    <table class="border-collapse border border-solid border-zinc-300 w-full">
        <thead>
        <tr class="text-left bg-zinc-800 text-white">
            <th class="border border-solid border-zinc-300 p-2">Id</th>
            <th class="border border-solid border-zinc-300 p-2">Username</th>
            <th class="border border-solid border-zinc-300 p-2">Email</th>
            <th class="border border-solid border-zinc-300 p-2">Enabled</th>
            <th class="border border-solid border-zinc-300 p-2">Roles</th>
            <th class="border border-solid border-zinc-300 p-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover:bg-zinc-100" th:each="user: ${users}">
            <td class="border border-solid border-zinc-300 p-2">
                <a th:href="@{/admin/users/{id}(id=${user.id()})}" th:text="${user.id()}"></a>
            </td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.username()}"></td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.email()}"></td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.enabled()}"></td>
            <td class="border border-solid border-zinc-300 p-2" th:text="${user.roles()}"></td>
            <td class="border border-solid border-zinc-300 p-2 flex gap-2">
                <form class="flex-1" action="#" th:action="@{/admin/users/delete/{id}(id=${user.id()})}" method="post">
                    <button class="bg-red-50 text-red-800 border-none cursor-pointer p-2 w-full" type="submit">Delete</button>
                </form>
                <form class="flex-1" action="#" th:action="@{/admin/users/edit/{id}(id=${user.id()})}" method="get">
                    <button class="bg-blue-50 text-blue-800 border-none cursor-pointer p-2 w-full" type="submit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="flex justify-end">
        <ul class="list-none p-0 flex justify-center gap-3 text-gray-900">
            <li>
                <a th:href="@{/admin/users(page=${users.previousOrFirstPageable().pageNumber})}"
                   class="decoration-none grid size-8 place-content-center border-solid border-1 border-gray-200 transition-colors hover:bg-gray-50 rtl:rotate-180" aria-label="Previous page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>

            <li class="text-sm/8 font-medium tracking-widest" th:text="${users.getNumber()} + ' / ' + ${users.getTotalPages()}">2/12</li>

            <li>
                <a th:href="@{/admin/users(page=${users.nextOrLastPageable().pageNumber})}"
                   class="decoration-none grid size-8 place-content-center border-1 border-solid border-gray-200 transition-colors hover:bg-gray-50 rtl:rotate-180" aria-label="Next page">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>