@import "tailwindcss" source("../templates");

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* light theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-black);
    --color-on-surface-strong: var(--color-black);
    --color-primary: var(--color-violet-500);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-lime-400);
    --color-on-secondary: var(--color-black);
    --color-outline: var(--color-black);
    --color-outline-strong: var(--color-black);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-800);
    --color-on-surface-dark: var(--color-neutral-200);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-violet-400);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-lime-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-300);
    --color-outline-dark-strong: var(--color-white);

    /* shared colors */
    --color-info: var(--color-sky-600);
    --color-on-info: var(--color-black);
    --color-success: var(--color-green-600);
    --color-on-success: var(--color-black);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-black);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-black);

    /* border radius */
    --radius-radius: 0;
}


body {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: var(--color-fg);
}
